@font-face {
  font-family: "Mulish-300";
  src: url("../public/font/Mulish-Light.ttf");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Mulish-400";
  src: url("../public/font/Mulish-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Mulish-500";
  src: url("../public/font/Mulish-Medium.ttf");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Mulish-600";
  src: url("../public/font/Mulish-Medium.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Mulish-700";
  src: url("../public/font/Mulish-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Mulish-800";
  src: url("../public/font/Mulish-ExtraBold.ttf");
  font-weight: 800;
}
